* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.pr-clr {
  color: #81c408;
}

.bg-primary-clrs {
  margin: auto;
  background-color: #ffb524;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  aspect-ratio: 1/1;
}


.bg-primary-clr {
  background-color: #ffb524;

}

.bg-primary-clrs:before{
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;

  background-color: #ffb524;
  bottom:-55px;
  /*rotate: 45deg;
  */left: 50%;
  rotate: 45deg;
  transform:translate(-89%, -27%);
  -webkit-transform:translate(-89%, -27%);
  -moz-transform:translate(-89%, -27%);
  -ms-transform:translate(-89%, -27%);
  -o-transform:translate(-89%, -27%);
}

.backdrop {
  background-blend-mode: screen;
}

.border-warnings {
  border: 1px solid #ffb524;
}

.nav-pills .nav-link.active {
  color: white !important;
  background-color: #81c408 !important;
}

.container-fluid-img {
  background-image: url(/img/hero-img.jpg);
}

.img-scale:hover {
  transform: scale(1.2);
  overflow: hidden;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.badge-top-left {
  z-index: 2;
}

.bg-feature1 {
  background-color: #81c408;
}


.bg-feature2 {
  background-color: #45595b;
}

.sec-clr {
  color: #45595b;
}

.fade-in {
  animation: fadein 0.4s ease-in-out;
}

@keyframes fadein {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.fade-out {
  animation: fadeout 0.4s ease-in-out;
  -webkit-animation: fadeout 0.4s ease-in-out;
}

@keyframes fadeout {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

.fade-up {
  animation: fadeup 0.4s ease-in-out;
  -webkit-animation: fadeup 0.4s ease-in-out;
}

@keyframes fadeup {
  from {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

.card:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@keyframes shadowh {
  from{
    opacity: 0.2;
  }

  to {
    opacity: 100;
   
  }
}

.services {
  background-color: #f4f6f8;
}

footer {
  background-color: #45595b;
}

.subscribe {
  height: 50px;
}

.anchor-text {
  color: #8aa7ad;
  margin: 5px 0px;
}

.anchor-hover:hover {
  color:#81c408;
}

.soc-icons {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.soc-icons:hover {
  color: black;
  background-color:#81c408;
}

.ri-team-fill {
  font-size: 6rem;
}
